<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja_JP</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon2</string>
				</array>
			</dict>
			<key>Icon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon3</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.fancs.WilFi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.fancs.WilFi</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>59</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>624fe6b455ae635162726fecc1edaf1bc44eda91</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>このアプリは、Wi-Fi接続のためにNFCサービスを使用します</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>このアプリは、周辺の利用可能なWi-Fiを探すためにbeaconと、位置情報サービスを使用します。

"このAppの使用中のみ許可"の場合、このAppがバックグランドで動作しているときに機能しないものがあることがあります。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>このアプリは、beacon利用のために位置情報サービスを使用します(常に許可)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>このアプリは、beacon利用のために位置情報サービスを使用します(使用中のみ許可)</string>
	<key>UIAppFonts</key>
	<array>
		<string>icomoon.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>network-authentication</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gps</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
